<div class="panel panel-default">
  <div class="panel-body">
    <h2>Listing pins</h2>

    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Image</th>
          <th>Description</th>
          <th>User</th>
          <th>String</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @pins.each do |pin| %>
          <tr>
            <td><%= image_tag pin.image.url(:medium) %></td>
            <td><%= pin.description %></td>
            <td><%= pin.user.email if pin.user %></td>
            <td><%= pin.string %></td>
            <div class="btn-group">
              <td><%= link_to 'Show', pin, class: "btn btn-primary btn-xs" %></td>
              <% if pin.user == current_user %>
                <td><%= link_to 'Edit', edit_pin_path(pin), class: "btn btn-primary btn-xs" %></td>
                <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-primary btn-xs" %></td>
              <% end %>
            </div>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <div class="form-group">
    <% if user_signed_in? %>
    <%= link_to 'New Pin', new_pin_path, class: "btn btn-primary" %>
    <% end %>
    </div> <!-- Form Group -->
  </div> <!-- Panel Body -->
</div> <!-- Panel Panel-Default -->
